h1 {
  font-size: 42px;
}

h3 {
  font-family: "Volte Medium";
  font-style: normal;
  margin: auto;
  text-align: center;
  font-size: 12px;
  color: #333;
  margin-top: 5px;
}

main {
  width: 75%;
  margin: auto;
  margin-top: 30px;
  font-size: 18px;
  text-align: justify;
  font-family: "Volte Medium";
  column-count: 1;
  -moz-column-count: 1;
  -webkit-column-count: 1;
}

main img {
  width: 100%;
}

@media (min-width: 1200px) {
  main img {
    width: auto;
  }
  main{
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 52px;
  }

  h3 {
    font-size: 20px;
    margin-top: 12px;
  }

  main {
    width: 60%;
    font-size: 19px;
    margin-bottom: 80px;
  }

  main img {
    margin: 3px;
  }
}
